<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
<style>
        #stocks {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75%;
  margin-left:auto;
  margin-right:auto;
  margin-top:15px;
}
}

#stocks td, #stocks th {
  border: 1px solid #ddd;
  padding: 12px;
}

#stocks tr:nth-child(even){background-color: #f2f2f2;}

#stocks tr:hover {background-color: #ddd;}

#stocks th {
  padding-top: 15px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  width: 75%;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
    </style>
</head>
<body>
<div class="topnav">
  <a class="active" href="/">Home</a>
    <a href="downloadbcopy">Populate Bhavcopy</a>
  <!--<a href="#about">About</a>-->
  <!--<a href="#contact">Contact</a>-->
  <div class="search-container">
    <form method="post" action="searchstock">
      <input type="text" placeholder="Search.." name="symbol">
      <button type="submit">Search</button>
    </form>
  </div>
</div>
<p><h1 align="center"> {{ message }} </h1></p>
</body>
</html>